<div class='col-lg-6'>
  <div class='well'>

    <% if @comic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

        <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% else %>
      <form action="/new">

        <div class="form-group">
          <label for="title">Title:</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter title of comic">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" name="description" class="form-control" id="description" placeholder="Enter description of comic">
        </div>
        <div class="form-group">
          <label for="image">Image URL:</label>
          <input type="text" name="image" class="form-control" id="image" placeholder="Enter image URL">
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

    <% end %>
  </div>
</div>
